{%  extends "base.html" %}
{% load sorl_thumbnail %}

{% block title %}TIL: {{ user.username }}{% endblock %}

{% block body %}
<div class="rounded-3xl overflow-hidden shadow-xl max-w-xs my-3 bg-white">
  	<img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
    <div class="flex justify-center -mt-8">
        {% thumbnail user.profile.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" class="rounded-full border-solid border-white border-2 -mt-3" alt="{{ user.username }}">
        {% endthumbnail %}
    </div>
	<div class="text-center px-3 pb-6 pt-2">
		<h3 class="text-black text-lg font-bold font-sans">{{ user.username }}</h3>
        {% if request.user.is_authenticated %}
        {% if request.user != user %}
        <button class="js-follow bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center" data-username="{{ user.username }}" data-action="{{ follow_action }}" data-url="{% url 'profiles:follow' user.username %}">
            <span class="mr-2"><span class="js-follow-text">{{ follow_text }}</span> {{ user.username }}</span>
        </button>
        {% endif %}
        {% else %}
            <p><a href="{% url 'account_login' %}" class="text-blue-600 hover:underline">Log in</a> to follow {{ user.username }}</p>
        {% endif %}
	</div>
  	<div class="flex justify-center pb-3 text-black">
      <div class="text-center mr-3 border-r pr-3">
        <h2>{{ total_posts }}</h2>
        <span>Posts</span>
      </div>
      <div class="text-center">
          <!-- TODO: Add total followers -->
        <h2>XX</h2>
        <span>Followers</span>
      </div>
  	</div>
</div>
    <a href="{% url 'feed:index' %}" class="text-blue-600 hover:underline">Return to feed</a>
{% endblock %}