{%  extends "base.html" %}
{% load sorl_thumbnail %}

{% block title %}TIL: Your Feed{% endblock %}

{% block body %}
    <h1 class="text-4xl text-gray-700 font-black">Your Feed</h1>
    {% for post in posts %}
    <div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md w-full">
        <div class="flex justify-between items-center">
            <span class="font-light text-gray-600">{{ post.date|date:'F j, Y @ g:i A' }}</span>
            <!-- a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="#">Design</a -->
        </div>
        <div class="mt-2">
            <p class="mt-2 text-gray-600">{{ post }}</p>
        </div>
        <div class="flex justify-between items-center mt-4">
            <a class="text-blue-600 hover:underline" href="#"><!-- #TODO: Add detail URL -->Read more</a>
            <div>
                <a class="flex items-center" href="#">
                    {% thumbnail post.author.profile.image "373x373" crop="center" as im %}
                    <img class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" src="{{ im.url }}" alt="{{ post.author.username }}">
                    {% endthumbnail %}
                    <h1 class="text-gray-700 font-bold">{{ post.author.username }}</h1>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}